# MacOS
.DS_Store
/backend/.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node (root ou qualquer serviço)
node_modules/

# Ambiente
.env
.env.*

# Prisma
prisma/migrations/
backend/generated/prisma

# Backend específico
backend/node_modules/
backend/.env

# Build / output
dist/
build/